
@{
    ViewData["Title"] = "Dashboard";
    ViewData["page-title"] = "Dashboard";
}



<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <span class="dash-widget-icon"><i class="la la-users"></i></span>
                <div class="dash-widget-info">
                    <h3>45</h3>
                    <span>Active Employees</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <span class="dash-widget-icon"><i class="la la-building-o"></i></span>
                <div class="dash-widget-info">
                    <h3>32</h3>
                    <span>Departments</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <span class="dash-widget-icon"><i class="la la-map-marker"></i></span>
                <div class="dash-widget-info">
                    <h3>10</h3>
                    <span>Provinces</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <span class="dash-widget-icon"><i class="la la-edit"></i></span>
                <div class="dash-widget-info">
                    <h3>25</h3>
                    <span>Active Contracts</span>
                </div>
            </div>
        </div>
    </div>
</div>

