@model WebApplication8.Models.Employee

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form   asp-controller="Employee" asp-action="Store" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
  
          
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Position" class="control-label"></label>
                        <input asp-for="Position" class="form-control" />
                        <span asp-validation-for="Position" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Remark" class="control-label"></label>
                        <input asp-for="Remark" class="form-control" />
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                </div>
        
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="MovieId" class="control-label">Teacher</label>
                        <select asp-for="MovieId" class="form-control" asp-items="ViewBag.movies">
                            <option value="">Selet a Movie   </option>
                        </select>
                        <span asp-validation-for="MovieId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="SuperStarsId" class="control-label">Teacher</label>
                        <select asp-for="SuperStarsId" class="form-control" asp-items="ViewBag.superStars">
                          <option value="">Selet a Super Star </option>
                        </select>
                        <span asp-validation-for="SuperStarsId" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
